@using Digitalisert.Models
@model ResourceModel.Resource

<h1>
  <small>@Model.Code?.FirstOrDefault()</small>
  @Model.Title?.FirstOrDefault()
</h1>

@foreach (var type in Model.Type)
{
    <a href="/Home/Resource?resources[0].Type=@type" class="label primary">@type</a>
}

@foreach (var subType in Model.SubType ?? new string[] { })
{
    <a href="/Home/Resource?resources[0].SubType=@subType" class="label secondary">@subType</a>
}

@foreach (var tags in Model.Tags ?? new string[] { })
{
    <a href="/Home/Resource?resources[0].Tags=@tags" class="label">@tags</a>
}

@foreach (var body in Model.Body ?? new string[] { })
{
    <p>@body</p>
}

<dl>
  @foreach (var property in Model.Properties)
  {
    <dt>@property.Name</dt>
    <dd>
      @foreach (var value in property.Value ?? new string[] { })
      {
        if (value.Length < 300)
        {
          <p>@value</p>
        }
        else
        {
          <p>
            <span>@(value.Substring(0, 300))</span>
            <span id="@(property.Name)-collapse" class="hide" data-toggler=".hide">@(value.Substring(300))</span>
            <a data-toggle="@(property.Name)-collapse">...</a>
          </p>
        }
      }
      @if (property.Resources != null)
      {
        foreach (var propertyresourceG in property.Resources.GroupBy(r => String.Join(", ", r.Type)).OrderBy(g => g.Key))
        {
          <span class="label secondary">@propertyresourceG.Key</span>
          foreach (var propertyresource in propertyresourceG)
          {
            if (propertyresource.ResourceId != null)
            {
              <a href="/Home/Resource/@(propertyresource.Context)/@propertyresource.ResourceId">
                <small>@((propertyresource.Code ?? new string[] { }).FirstOrDefault())</small>
                <span>@(propertyresource.Title.Union(propertyresource.Type).FirstOrDefault())</span>
              </a>
            }
            else
            {
              <small>@((propertyresource.Code ?? new string[] { }).FirstOrDefault())</small>
              <span>@((propertyresource.Title ?? new string[] { }).FirstOrDefault())</span>
            }
          }
        }
      }
    </dd>
  }
</dl>
