@using System.Collections.Generic
@using Digitalisert.Models
@model IEnumerable<ResourceModel.Resource>

@{
    ViewData["Title"] = "Resource Page";
}

@foreach (var resource in Model)
{
  <div class="card">
    <h5 class="card-header">
      @String.Join(", ", @resource.Type)
      <small class="">@String.Join(", ", @resource.SubType)</small>
    </h5>
    <div class="card-body">
      <h5 class="card-title position-relative">
        <small class="text-muted">@resource.Code?.FirstOrDefault()</small>
        @resource.Title.FirstOrDefault()
        <a class="stretched-link text-hide" href="/Home/Resource/@(resource.Context)/@resource.ResourceId">...</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">@resource.SubTitle?.FirstOrDefault()</h6>
      @foreach(var body in resource.Body ?? new string[] { } )
      {
        <p class="card-text">@String.Join(",", @body)</p>
      }
      <dl>
        @foreach (var property in resource.Properties.Where(p => (p.Value ?? new string[] { }).Any() || p.Resources.Any(r => (r.Code ?? new string[] {}).Any())))
        {
            <dt>@property.Name</dt>
            <dd>
              @foreach (var value in property.Value ?? new string[] { })
              {
                <span>@value</span>
              }
              @foreach (var propertyresource in property.Resources)
              {
                if (propertyresource.ResourceId != null)
                {
                  <a href="/Home/Resource/@(resource.Context)/@propertyresource.ResourceId">
                    <small class="text-muted">@((propertyresource.Code ?? new string[] { }).FirstOrDefault())</small>
                    <span>@((propertyresource.Title ?? new string[] { }).FirstOrDefault())</span>                   
                  </a>
                }
                else
                {
                  <small class="text-muted">@((propertyresource.Code ?? new string[] { }).FirstOrDefault())</small>
                  <span>@((propertyresource.Title ?? new string[] { }).FirstOrDefault())</span>
                }
              }
            </dd>
        }
      </dl>
    </div>
    <div class="card-footer">@String.Join(", ", @resource.Tags)</div>
  </div>
  <br>
}
